In [3]:
import pandas as pd

In [5]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

In [11]:
def combinations(n, k):
    return factorial(n)/(factorial(n-k)*factorial(k))

In [22]:
def one_ticket_probability(num_list):
    
    # out of 49 numbers, 6 are to be chosen at random
    n_outcomes = combinations(49, 6)
    
    # the successful outcomes will be 1 because user inputs only one list
    successful_outcomes = 1
    
    prob_of_1_ticket = successful_outcomes/n_outcomes
    
    print(f'The percentage that the user wins with one pick of six numbers is {prob_of_1_ticket * 100:.7f}%')

In [21]:
test_input_1 = [2, 43, 22, 23, 11, 5]
one_ticket_probability(test_input_1)

The percentage that the user wins with one pick of six numbers is 0.0000072

In [23]:
test_input_2 = [9, 26, 41, 7, 15, 6]
one_ticket_probability(test_input_2)

The percentage that the user wins with one pick of six numbers is 0.0000072%

In [24]:
df = pd.read_csv('/Users/vikramiyer/data/dataquest/data/649.csv')

In [25]:
df.shape

(3665, 11)

In [26]:
df.head(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [27]:
df.tail(3)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

In [28]:
def extract_numbers(row):
    row = row[4:10]
    row = set(row.values)
    return row

In [29]:
winning_numbers = df.apply(extract_numbers, axis=1)
winning_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

In [41]:
def check_historical_occurrence(user_numbers, historical_numbers):
    user_numbers_set = set(user_numbers)
    check_occurrence = historical_numbers == user_numbers_set
    n_occurrences = check_occurrence.sum()
    
    if n_occurrences == 0:
        print(f'The combination {user_numbers} has never occured. This doesn\'t mean it\'s more likely to occur now.' 
              f'Your chances to win the big prize in the next drawing using the combination {user_numbers} are 0.0000072%.'
              f'In other words, you have a 1 in 13,983,816 chances to win.')
        
    else:
        print('''The number of times combination {} has occured in the past is {}.
Your chances to win the big prize in the next drawing using the combination {} are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.'''.format(user_numbers, n_occurrences,
                                                                            user_numbers))

In [42]:
test_input_3 = [33, 36, 37, 39, 8, 41]
check_historical_occurrence(test_input_3, winning_numbers)

The number of times combination [33, 36, 37, 39, 8, 41] has occured in the past is 1.
Your chances to win the big prize in the next drawing using the combination [33, 36, 37, 39, 8, 41] are 0.0000072%.
In other words, you have a 1 in 13,983,816 chances to win.

In [38]:
test_input_4 = [3, 2, 44, 22, 1, 44]
check_historical_occurrence(test_input_4, winning_numbers)

The combination [3, 2, 44, 22, 1, 44] has never occured. This doesn't mean it's more likely to occur now.Your chances to win the big prize in the next drawing using the combination [3, 2, 44, 22, 1, 44] are 0.0000072%.In other words, you have a 1 in 13,983,816 chances to win.